@import url("https://fonts.googleapis.com/css2?family=Playwrite+AU+NSW:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&family=Playwrite+AU+NSW:wght@100..400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body{
  background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container {
  /* background-color: rebeccapurple; */
  margin: 60px auto;
  width: 60%;
  height: 700px;
}

.nav-img{
width: 100%;
}

.nav-img img{
  height: 100px;
  width: 7%;
  margin: 5px 46.5%;
}

.container-block {
  /* background-color: aqua; */
  display: flex;
  height: 700px;
  width: 100%;
}

.container-img {
  height: 700px;
  width: 50%;
  position: relative;

}

.img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.img-text {
  position: absolute;
  text-align: center;
    width: 100%;
    height: 30px;
    color: whitesmoke;
    font-size: 20px;
    top: 150px;
    /* left: 120px; */
}

.container-input {
  background-color: lightblue;
  height: 700px;
  width: 50%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.group {
  margin: 10% 20% 0% 20%;
  /* background-color: aqua; */
  height: 40%;
  width: 60%;
}

.group-input {
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Playwrite AU NSW", cursive;
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
}

label {
  font-family: "Moderustic", sans-serif;
  font-size: 20px;
  margin-bottom: 4px;
}

.error{
  color: red;
}

input {
  padding: 4px;
  margin-bottom: 5px;
  border-radius: 5px;
  outline: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background: transparent;
  border-color: antiquewhite;

  transition: ease;
}

input:focus {
  background: white;
  border-color: white;

}

.container-button {
  /* margin: 0 170px; */
  width: 100%;
}

.button-holder {
  margin: 10% 0px 0px 25%;
}

/* 
.button-create {
  padding: 15px 32px;
  width: 10%;
  border-radius: 10px;
  outline: none;
} */

.option {
  font-size: 20px;
  width: 60%;
  text-align: center;
}

.hr-lines{
    position: relative;
    margin-left: 5px;
    max-width: 500px;
    /* margin: 100px auto; */
    text-align: center;
  }
  
  .hr-lines:before{
    content: " ";
    height: 2px;
    width: 160px;
    background: black;
    display: block;
    position: absolute;
    top: 50%;
    left: -80px;
  }
  
  .hr-lines:after{
    content: " ";
    height: 2px;
    width: 160px;
    background: black;
    display: block;
    position: absolute;
    top: 50%;
    right: -80px;
  }

.button-Login {
  padding: 15px 32px;
  width: 40%;
  border-radius: 10px;
  outline: none;
  margin-bottom: 20px;
}


.button-87 {
  width: 60%;
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #2fb6ff 0%, #1959f0  51%, #2fc1ff  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-87:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}


@media (max-width: 1690px) {

  .hr-lines:before {
    /* display: none; */
    left: -70px;
    width: 125px;
  }

  .hr-lines:after {
    /* display: none; */
    right: -70px;
    width: 125px;
  }
}


@media (max-width: 1211px) {
  .container {
    /* background-color: rebeccapurple; */
    /* margin-top: 280px; */
    margin: 10px auto;
    margin-bottom: 800px;
  }

  .container-block {
    display: flex;
    flex-direction: column;
  }

  .nav-img {
    width: 100%;
  }
  
  .nav-img img {
    height: 200px;
    width: 25%;
    margin: 10% 41% 1px 41%;
  }

  .option {
    margin-left: 5px;
  }

  .hr-lines:before {
    display: none;
  }

  .hr-lines:after {
    display: none;
  }

  .container-input {
    width: 100%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
  }

  .container-img {
    width: 100%;
    margin-top: 90px;
    height: 60%;
  }

  .img{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
  }
}
